<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid" layout:fragment="page-content">            
            <nav class="navbar navbar-light bg-light m-2">
                <h4 class="ps-3"><i class="fa-solid fa-user-tie me-2"></i></i>Mantenimiento de stock</h4>
            </nav>
            <div class="container" id="lol">
            
           
            <button class="btn btn-danger mb-5"  data-toggle="modal" data-target="#modalGuardar" data-whatever="@mdo">Agregar Inventario</button>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered" id="tablita">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ID</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Color</th>
                                <th scope="col">Talla</th>
                                <th scope="col" colspan="2">ACCION</th>
                                
                            </tr>
                        </thead>
                        <tbody>                            
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
            
            <div class="modal fade" id="modalGuardar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nuevo Calzado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Marca:</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Título" >
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Color:</label>
                                <textarea class="form-control" id="apellido"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Talla:</label>
                                <textarea class="form-control" id="correo"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="guardar">Registrar Calzado</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Modificar Post -->
        <div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modificar Calzado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Marca:</label>
                                <input type="text" class="form-control" id="editar_titulo" placeholder="Título">
                                <input type="hidden" class="form-control" id="idpost" value="0">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Color:</label>
                                <textarea class="form-control" id="editar_descripcion"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Talla:</label>
                                <textarea class="form-control" id="editar_correo"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="modificar">Modificar Actor</button>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
        <script th:src="@{/js/script.js}"></script>
            
        
         </div>
        
        <!--OTRO SCRIPTS PARA PAGINAS-->
    <th:block layout:fragment="page-scripts">
        
    </th:block>
    </body>
</html>
