<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid" layout:fragment="page-content">            
            <nav class="navbar navbar-light bg-light m-2">
                <h4 class="ps-3"><i class="fa-solid fa-book-open-reader me-2"></i>Registro personas</h4>
            </nav>
            <div class="container" >
            <button class="btn btn-danger mb-5"  data-toggle="modal" data-target="#modalGuardar3" data-whatever="@mdo">Agregar persona</button>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered" id="tablita2">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">IDpersona</th>
                                <th scope="col">nombre</th>
                                <th scope="col">apellido</th>
                                <th scope="col">dni</th>
                                <th scope="col">sexo</th>
                                <th scope="col">nacionalidad</th>
                                <th scope="col">direccion</th>
                                <th scope="col">correo</th>
                                <th scope="col">telefono</th>
                                <th scope="col" colspan="2">ACCION</th>
                            </tr>
                        </thead>
                        <tbody>                            
                        </tbody>
                    </table>
                </div>
            </div>
          
        </div>
            <!-- Modal agregar Post -->
            <div class="modal fade" id="modalGuardar3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nueva Persona</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">nombre:</label>
                                <input type="text" class="form-control" id="nombre" >
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">apellido:</label>
                                <input type="text" class="form-control" id="apellido" >
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">dni:</label>
                                <input type="text" class="form-control" id="dni" >
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">sexo:</label>
                                <input type="text" class="form-control" id="sexo" >
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">nacionalidad:</label>
                                <input type="text" class="form-control" id="nacionalidad" >
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">direccion:</label>
                                <input type="text" class="form-control" id="direccion" >
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">correo:</label>
                                <input type="text" class="form-control" id="correo" >
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">telefono:</label>
                                <input type="text" class="form-control" id="telefono" >
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="guardar3">Registrar persona</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Modificar Post -->
        <div class="modal fade" id="modalEditar3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modificar Persona</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">nombre:</label>
                                <input type="text" class="form-control" id="editar_nombre" >
                                <input type="hidden" class="form-control" id="idpost" value="0">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">apellido:</label>
                                <input type="text" class="form-control" id="editar_apellido" >
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">dni:</label>
                                <input type="text" class="form-control" id="editar_dni" >
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">sexo:</label>
                                <input type="text" class="form-control" id="editar_sexo" >
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">nacionalidad:</label>
                                <input type="text" class="form-control" id="editar_nacionalidad" >
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">direccion:</label>
                                <input type="text" class="form-control" id="editar_direccion" >
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">correo:</label>
                                <input type="text" class="form-control" id="editar_correo" >
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">telefono:</label>
                                <input type="text" class="form-control" id="editar_telefono" >
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="modificar3">Modificar persona</button>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
        
        
         </div>
         
        <!--OTRO SCRIPTS PARA PAGINAS-->
        
    <th:block layout:fragment="page-scripts">
<script th:src="@{/js/scriptPersona.js}"></script>
    </th:block>
    </body>
</html>